.detailItem{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
} 

.detailImg{ 
    max-width: 40%;
    object-fit: cover;
} 
.detailText{
    display: flex;
    flex-direction: column; 
    max-width: 50%; 
    margin-top: 30px;
} 
/* itemcount-------------------------*/ 
.detailText .itemc{  
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 30px;
    border-radius: 8px;  
    background-color: white;
}
.detailText .itemc .itemcCount{
    background-color: white; 
    border-radius: 8px; 
    display: flex;
    flex-flow: row nowrap; 
    justify-content: space-between; 
    width: 100%;
    text-align: center;
} 
.detailText .itemc .itemcCount span{
    padding: 0px 40px; 
    border-radius: 8px;
    font-size: 30px; 
    margin: 0px 4px;
    width: 8px; 
} 
.detailText .itemc .itemcCount button{
    font-size: 30px;  
    background-color: white;
    color: rgb(2, 2, 94); 
    border-radius: 5px;
    padding: 3px 8px; 
}
.detailText .itemc .itemcCount button:hover,.detailText .itemc .itemcButton-car:hover,.detailText .itemc .itemInfo:hover{
    background-color:rgb(126, 178, 255);
    transition-duration: 0.5s; 
}
.detailText .itemc .itemcButtonCar{
    margin-top: 15px;
   border-radius: 5px; 
   font-size: 25px; 
   padding: 5px 10px ;
   width: 100%; 
   background-color:rgb(2, 2, 94) ;
   color: white;
}
